html,
body,
container{
    background: white;;
}
#ro{
    background: white;
}
#log{
    margin-left: 650px;
}
#my{
    margin-left: 40px;
}
#hi{
    margin-right: 20px;
}
#fa{
    margin-top: 5px;
}
#golo{
/*    font-size: 40px;*/
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 35px;
    color: hotpink;
}
#chin{
    margin-top: 30px;
}
#we{
    color: hotpink;
}
#wo{
/*    font-size: 35px;*/
    margin-top: 110px;
    
    color: white;
}
#fel{
    background-color: orange;
}
#lle{
    color: white;
/*    font-size: 30px;*/
/*    margin-left: 310px;*/
    margin-top: 10px;
}
#pro{
    margin-left: 200px;
}
#fu{
    background-color: lightgray;
}
#con{
    margin-left: 10px;
}
#foo{
    margin-top: 20px;
}
#last{
    margin-left: 350px;
    margin-top: 30px;
}
#st{
    margin-top: 20px;
    margin-left: 380px;
}
#ed{
    margin-top: 20px;
    margin-left: 450px;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {} 
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) 
{ 
    #golo{
        font-size: 30px;
    }
    #wo{
        font-size: 18px;
    }
    #pro{
        margin-left: 20px;
    }
    #ft{
        font-size: 5px;
    }
/*
    #lle{
        font-size: 15px;
        margin-left: 200px;
    }
    
*/
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 

      #golo{
        font-size: 45px;
    }
    #wo{
        font-size: 22px;
    }
    #pro{
        margin-left: 20px;
    }
    #ft{
        font-size: 5px;
    }
/*
    #lle{
        font-size: 24px;
        margin-left: 200px;
    }
*/

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
     #golo{
        font-size: 45px;
    }
    #wo{
        font-size: 40px;
    }
    #pro{
        margin-left: 20px;
    }
    #ft{
        font-size: 5px;
    }
/*
    #lle{
        font-size: 35px;
        margin-left: 450px;
    }
*/


}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width


